.filters {
    background-color: white;
    height: 70px;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    position: relative;
}

.locations h3, .amenities h3 {
    font-weight: 600;
    margin-bottom: 0;
}

.locations h4, .amenities h4 {
    font-weight: 400;
    font-size: 14px;
    margin-top: 0;
}

.filters .locations, 
.filters .amenities {
    height: 100%;
    width: 25%;
}


.locations h3, 
.locations h4 {
    margin-left: 50px;
}

.locations {
    border-right: 1px solid #DDDDDD;
    position: relative;
}

.amenities h3,
.amenities h4 {
    margin-left: 50px;
}

.amenities {
    position: relative;
}

.space {
    height: 100%;
    width: 25%;
}

button {
    font-size: 18px;
    background-color: #FF5A5F;
    color: #FFFFFF;
    height: 48px;
    width: 20%;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 30px;
}

button:hover {
    opacity: 0.9;
}

.filters .popover {
    visibility: hidden;
    position: absolute;
    top: 100%;
    left: -1px;
    width: calc(100%);
    padding: 10px 0;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    background-color: #FAFAFA;
    list-style: none;
    list-style-type: none;
    z-index: 1;
    margin-top: 0;
    align-items: flex-start;
    justify-content: center;
}

.filters .popover h2 {
    margin-left: 20px;
    margin-bottom: 0;
}

.filters .popover ul li {
    margin-left: 10px;
    margin-bottom: 4px;
}

.filters .popover li ul {
    list-style-type: none;
}

.filters > *:hover .popover {
    visibility: visible;
}

.filters .popover .state {
    margin: 0;
    font-size: 16px;
}

.amenities .popover li {
    text-align: left;
    margin-left: 25%;
    margin-bottom: 4px;
}



@media only screen and (max-width: 1030px) 
{
    .filters {
        width: 90%;
        margin: 0 auto;
    }
}
@media only screen and (max-width: 600px) 
{
    .filters .locations,.filters .amenities {
        width: 35%;
    }
    .filters .locations ul, .filters .amenities ul  {
        padding: 0.7em;
      }
    .filters .locations li {
        margin: 0 0 0 5%;
        padding: 0;
    }

}
@media only screen and (max-width: 360px) 
{
    .filters button {
        font-size: 16px;
        justify-content: center;
        right: 8px;
        width: 25%;
        padding: 0px;
    }
}
@media only screen and (max-width: 350px) 
{
    .filters .locations,.filters .amenities {
        width: 35%;
        font-size: 0.85em;
    }
    .filters .locations h3,  .filters .amenities h3{
        font-size: 1.1em;
        margin: 2px 7px;
    }
    .locations h4,  .amenities h4{
        font-weight: 400;
        font-size: 0.9em;
        margin: 2px 7px;    
    }
    .filters .locations ul {
        padding: 0.1em;
      }
    .filters .amenities ul {
        padding: 0.8em;

    }
}
@media only screen and (max-width: 280px) 
{
    .filters button {
        font-size: 12px;
        width: 20%;
        padding: 0;
    }
    .popover h2 {
        font-size: 11px;
    }
    
}
@media only screen and (max-width: 250px) 
{
    .filters button {
        font-size: 11px;
        width: 20%;
        padding: 0;   
    }
    .filters .locations ul{
        padding: 0;
      }
      .filters .amenities ul {
          padding: 1em;
      } 
}